---
import BaseLayout from '../../layouts/BaseLayout.astro';
import ProductGrid from '../../components/ProductGrid.astro';
import { products } from '../../data/products';
import FilterControls from '../../components/buttons/FilterControls.astro';

export async function getStaticPaths() {
  return products.map(({gender}) => ({
    params: { genderAll: gender },
    props: { gender }
  }));
}

const {gender="" } = Astro.props;

// FILTRO SEGUN SEXO Y CATEGORIA

const filteredProducts = products.filter(p =>  p.gender === gender);


---

<BaseLayout title={`Catálogo de Ropa - ${gender}`}>

  <h2 class="text-3xl font-bold text-center my-8 flex items-center justify-center">{`Ropa de ${gender.charAt(0).toUpperCase() + gender.slice(1)}`}
    <span  style="height: 40px;"></span>
  </h2>

  <FilterControls baseRoute="categoria" />

  <!-- Lista de Productos Filtrados -->
  <ProductGrid products={filteredProducts} />
</BaseLayout>