---
// src/components/EmblaIsla.astro
import AddToLocalStorage from './AddToLocalStorage';

const { product } = Astro.props;

---

<div class="flex justify-center items-center">
  <AddToLocalStorage client:visible product={product} />
</div>
