---

const {name='' } = Astro.props;

---


<!-- Botón de WhatsApp -->

<div class="flex justify-center items-center">
  <!-- <a
  href={`https://wa.me/+56987866258?text=Estoy%20interesado%20en%20un%20producto%20${encodeURIComponent(name)}.`}
  target="_blank"
  rel="noopener noreferrer"
  class={`inline-block px-4 text-center bg-green-500 text-white py-2 mt-6 rounded-lg active:bg-green-600 transition-colors ${widthClass}`}
  >
  {title}
  </a> -->

  <a target="_blank" href={`https://wa.me/+56987866258?text=Estoy%20interesado%20en%20un%20producto%20${encodeURIComponent(name)}.`} class="group relative inline-block" rel="noopener noreferrer">
    <button class="relative w-64 bg-gradient-to-t from-gray-800 from-10% via-gray-900 via-20% to-black to-80%  text-white py-3 px-6 mt-6 rounded-lg overflow-hidden transition-all duration-300 group-hover:scale-105">
      <span class="absolute inset-0 w-full h-full bg-gradient-to-b from-green-900 from-20% via-gray-800 via-60% to-black to-80% opacity-0 group-hover:opacity-30 transition-opacity duration-500"></span>
      <span class="relative z-10 text-sm font-medium tracking-widest">
        Contactar por WhatsApp
      </span>
      <!-- Efecto de borde animado -->
      <span class="absolute -inset-0.5 border-2 border-transparent rounded-lg group-hover:border-gray-600 transition-all duration-300"></span>
    </button>
  </a>
</div>
