
/* Tus estilos globales adicionales */
summary::-webkit-details-marker {
  display: none;
}

.custom-slide {
  padding-left: 0 !important; /* Sobrescribimos el padding-left */
}





/* Soluciona botones de tallas - HOVER MOVILES */
