---
import WhatsappButton from '../components/buttons/WhatsappButton.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
---

<BaseLayout title="Contacto">

  <h2 class="text-3xl font-bold text-center my-8">Contacto</h2>
  <div class="max-w-3xl mx-auto p-4 bg-white shadow rounded-lg">
    <p class="text-lg mb-4">Si tienes alguna pregunta o necesitas más información, no dudes en contactarnos a través de los siguientes medios:</p>

    <div class="mb-4">
      <h3 class="text-2xl font-semibold mb-2">Teléfono</h3>
      <p class="text-lg text-gray-700">+56 9 8786 6258</p>
    </div>

    <!-- <div class="mb-4">
      <h3 class="text-2xl font-semibold mb-2">Correo Electrónico</h3>
      <p class="text-lg text-gray-700">support@gymsharkimport.com</p>
    </div> -->

    <div class="mb-4">
      <h3 class="text-2xl font-semibold mb-2">Redes Sociales</h3>
      <ul class="flex space-x-4">
        <!-- <li>
          <a href="https://www.facebook.com/tu-pagina" target="_blank" rel="noopener noreferrer" class="text-blue-600 hover:text-blue-800">
            Facebook
          </a>
        </li> -->
        <li>
          <a href="https://www.instagram.com/gymzharkimport/" target="_blank" rel="noopener noreferrer" class="text-pink-600 hover:text-pink-800">
            Instagram
          </a>
        </li>
        <!-- <li>
          <a href="https://www.twitter.com/tu-pagina" target="_blank" rel="noopener noreferrer" class="text-blue-400 hover:text-blue-600">
            Twitter
          </a>
        </li> -->
      </ul>
    </div>

    <div class="mb-4">
      <h3 class="text-2xl font-semibold mb-2">Dirección de Entrega</h3>
      <p class="text-lg text-gray-700">Mall Plaza Norte</p>
    </div>
    <WhatsappButton widthClass="w-80" title="Contactar por WhatsApp"/>
  </div>
</BaseLayout>