---
import BaseLayout from "../layouts/BaseLayout.astro";
import FavoritesPage from "../components/favorites/favorites";



---


<BaseLayout title="Mis favoritos">
  <h2 class="text-3xl font-bold text-center my-8">Mis favoritos</h2>
  <FavoritesPage client:visible />
</BaseLayout>