---
import BaseLayout from "../layouts/BaseLayout.astro";
import { products } from "../data/products";
import ProductGrid from "../components/ProductGrid.astro";


---


<BaseLayout title="Mis favoritos">
  <h2 class="text-3xl font-bold text-center my-8">Mis favoritos</h2>
  <ProductGrid products={products}></ProductGrid>
</BaseLayout>