---
// src/components/EmblaIsla.astro
import EmblaCarousel from './EmblaCarousel.jsx';

const { images, name, slug } = Astro.props;

---

<div >
  <EmblaCarousel transition:name={`img-${slug}`} images={images} name={name} client:load />
</div>
