---
import { Icon } from 'astro-icon/components'

interface Props {
  type?:string
  class?:string
}

const {type, class: className} = Astro.props as Props;

---



  {
    type && (
          <a>

            <Icon name={type} size={40} class={className} />
          </a>
    )
  }
