---
// src/components/EmblaIsla.astro
import EmblaCarousel from './EmblaCarousel';

const { images, name, slug } = Astro.props;

---

<div>
  <EmblaCarousel slug={slug} images={images} name={name} client:load />
</div>
