---
import BaseLayout from '../../../layouts/BaseLayout.astro';
import ProductGrid from '../../../components/ProductGrid.astro';
import { products } from '../../../data/products';
import FilterControls from '../../../components/buttons/FilterControls.astro';

export async function getStaticPaths() {
  return products.map(({ gender, type }) => ({
    params: { gender, type },
    props: { gender, type },
  }));
}

const { gender = '', type= '' } = Astro.props;

// FILTRO SEGUN SEXO Y CATEGORIA

const filteredProducts = products.filter(p => p.gender === gender && p.type === type);
---

<BaseLayout title={`Catálogo de Ropa - ${gender.charAt(0).toUpperCase() + gender.slice(1)}`}>
  <h2 class="text-3xl font-bold text-center my-8">{`${type.charAt(0).toUpperCase() + type.slice(1)} ${gender.charAt(0).toUpperCase() + gender.slice(1)}`}</h2>

  <FilterControls baseRoute={`categoria/${gender}`} />

  <!-- Lista de Productos Filtrados -->
  <ProductGrid products={filteredProducts} />
</BaseLayout>