---
import Navbar from '../components/Navbar';
import '../styles/global.css'; // Importamos el CSS global aquí


import { ViewTransitions} from 'astro:transitions';

// Definimos la interfaz de las props del layout
interface Props {
  title?: string;
  description?: string;
  lang?: string;
}

// Extraemos las props y establecemos valores por defecto
const { title = 'Mi Sitio', description = '', lang = 'es' } = Astro.props as Props;
---



<html lang={lang}>
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <ViewTransitions fallback="none" >
  </head>
  <body class="font-sans bg-gray-100 flex flex-col min-h-screen">
    <!-- Cabecera del sitio -->
    <header class="bg-white shadow">
      <div class="container mx-auto px-4 py-4">
        <Navbar client:load />
      </div>

    </header>
    <!-- Activar barra scroll en todas las pantallas para evitar movimientos -->
    <style>html {overflow-y: scroll;}</style>



    <!-- Contenido de la página -->
    <main class="container mx-auto px-2 sm:px-4 py-8 flex-1">
      <!-- Renderizamos el contenido de la página -->

      <slot />
    </main>

    <!-- Pie de página -->
    <footer class="bg-white shadow mt-8">
      <div class="container mx-auto px-4 py-4 text-center">
        <p>&copy; {new Date().getFullYear()} Ropa deportiva Gymshark.</p>
      </div>
    </footer>
  </body>
</html>
